*{
    box-sizing: border-box;
}
body{
    font-family: cursive;
    margin: 0;
}
.header{
    padding: 60px;
    text-align: center;
    background: lightcoral;
    color: rgb(30, 47, 71);
}
.navbar{
    display:flex;
    background-color: teal;
}
.navbar a{
    color: rgb(194, 54, 106);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(26, 205, 168);
    color: navajowhite;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: rgb(188, 224, 255);
}
.main{
    flex:70%;
    background-color: rgb(164, 174, 255);
    padding: 20px;
}
.fakeimg{
    background-color: rgb(46, 252, 97);
    width: 30%;
    padding: 1px;
}
.footer{
    padding:15px;
    text-align: center;
}
@media screen and(max-width: 700px){
    .row, .navbar {
        flex-direction: column;
    }
}
form{
    background-color: bisque;
    color:blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}